---
const { frontmatter } = Astro.props;

const source = (frontmatter.image.src.includes("/")) ? frontmatter.image.src : `/product-imgs/${frontmatter.image.src}`;
---

<div class="card">
    <div class="card-image">
        <figure class="image is-square">
        <img
            src={source}
            alt={frontmatter.image.alt}
        />
        </figure>
    </div>
    <div class="card-content">
        <p class="title is-4">{frontmatter.title}</p>
        <p class="subtitle is-6">{frontmatter.price}</p>
    </div>
</div>

<style>
    .card {
        max-width: 24rem;
        margin: auto;
    }
    img {
        object-fit: cover;
    }
</style>