---
const { frontmatter } = Astro.props;

// Code to get the correct image
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

const allImgs = import.meta.glob<{ default: ImageMetadata }>('../../assets/product-imgs/*.webp', { eager: true });
const imgSrc = "../../assets/product-imgs/" + frontmatter.image.src;

if (!allImgs[imgSrc]) {
  console.error(`Image not found: ${imgSrc}`);
}

const imageMetadata = allImgs[imgSrc];
---

<div class="card">
    <div class="card-image">
        <figure class="image is-square">
        <Image
            src={imageMetadata.default}
            alt={frontmatter.image.alt}
            inferSize={true}
            layout='constrained'
        />
        </figure>
    </div>
    <div class="card-content">
        <p class="title is-4">{frontmatter.title}</p>
        <p class="subtitle is-6">{frontmatter.price}</p>
    </div>
</div>

<style>
    .card {
        max-width: 24rem;
        margin: auto;
    }
    img {
        object-fit: cover;
    }
</style>