---
const { frontmatter } = Astro.props;

import Layout from "../layouts/Layout.astro";

import "../styles/global.scss";

// Code to get the correct image
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

const allImgs = import.meta.glob<{ default: ImageMetadata }>('../assets/product-imgs/*.webp', { eager: true });
const imgSrc = "../assets/product-imgs/" + frontmatter.image.src;

if (!allImgs[imgSrc]) {
  console.error(`Image not found: ${imgSrc}`);
}

const imageMetadata = allImgs[imgSrc];
---

<Layout pageTitle={frontmatter.title}>
    <br>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <Image
                    src={imageMetadata.default}
                    alt={frontmatter.image.alt}
                    inferSize={true}
                />
            </div>
            <div class="column">
                <div class="product-info">
                    <h1 class="title">{frontmatter.title}</h1>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">
                                <h4 class="title is-size-5 price">{frontmatter.price}</h4>
                                <a href=`../../categories/${frontmatter.category}`>
                                    <span class="tag is-white is-medium">{frontmatter.category}</span>
                                </a>
                            </div>
                            <div class="level-item subtitle">

                            </div>
                        </div>
                    </nav>
                    <div class="content">
                        <slot />
                        <a class="button is-primary" href="/#How to Order">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    .product-image {
        border-radius: 10px;
    }
    .product-info {
        margin-left: 15px;
        margin-right: 15px;
    }
    .price {
        margin-right: 15px;
    }
</style>